<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/global.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="bodyClass">
    <main>
        <div class="btnsInicio">
            <input class="btn btn-primary" type="button" value="Agregar categoria" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <input class="btn btn-primary" type="button" value="Listar productos" id="btnListar">
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
                <% rows.forEach(item => { %>
                    <tr>
                        <td><%= item.name_c %></td>
                        <td>
                            <button class="btn"
                                data-bs-toggle="modal" data-bs-target="#editarCategoria"
                                data-id="<%= item.idc %>"
                                data-name="<%= item.name_c %>" ">
                                <svg xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor" stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit editar"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"/><path d="M16 5l3 3" /></svg>
                            </button>
                            <button class="btn"
                            data-bs-toggle="modal" data-bs-target="#borrarCategoria"
                            data-id="<%= item.idc %>">
                                <svg xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash basura"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                            </button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <form action="" method="post" id="formCambiarDatos">
            <div class="modal fade" id="editarCategoria" tabindex="-1" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Editar categoría</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="idCategory" id="idCategory">
                            <div class="mb-3">
                                <label for="name_c" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="name_c" name="name_c" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form action="/category/addCategory" method="post">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar categoría</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body
                        ">
                            <div class="mb-3">
                                <label for="name_c" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="name_c" name="name_c" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form action="" method="get" id="formBorrarCategoria">
            <div class="modal fade" id="borrarCategoria" tabindex="-1" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar Categoria</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="display: flex; justify-content: center;">
                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Borrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </main>
    <script>
        document.getElementById('editarCategoria').addEventListener('show.bs.modal', (event) => {
            const button = event.relatedTarget;
            const categoryId = button.getAttribute('data-id');
            const categoryName = button.getAttribute('data-name');

            const nameInput = document.getElementById('name_c');
            nameInput.value = categoryName;

            const form = document.getElementById('formCambiarDatos');
            form.action = `/category/editCategory/${categoryId}`;
        });
        
        document.getElementById('borrarCategoria').addEventListener('show.bs.modal', (event) => {            
            const button = event.relatedTarget;
            const categoryId = button.getAttribute('data-id');
            
            const form = document.getElementById('formBorrarCategoria');
            form.action = `/category/deleteCategory/${categoryId}`;
        });

        document.getElementById('btnListar').addEventListener('click', () => {
            window.location.href = '/';
        });
        
    </script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>